<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/contactus.css">

</head>

<body>
    <div id="contact-form">
        <div id="contact-heading">
            <h2>contact us</h2>
            <i class="ri-customer-service-2-fill"></i>
        </div>
        <div id="contact-subheading">
            <p>Lets get in touch. Send us a message:</p>
        </div>

        <ul class="contact-info">
            <li>
                <div class="info-left">
                    <i class="ri-map-pin-2-line"></i>
                </div>
                <div class="info-right">
                    <h4> Panorama City, CA USA</h4>
                </div>
            </li>
            <li>
                <div class="info-left">
                    <i class="ri-phone-fill"></i>
                </div>
                <div class="info-right">
                    <h4> Phone: +3109625803</h4>
                </div>
            </li>
            <li>
                <div class="info-left">
                    <i class="ri-mail-fill"></i>
                </div>
                <div class="info-right">
                    <h4> Email: yatengteng@gmail.com</h4>
                </div>
            </li>
        </ul>

        <!-- form -->

        <form id="contact-form-entries" action="/" method="post">
            <input class="inp-field" type="text" name="name" id="name" placeholder="Name">
            <input class="inp-field" type="email" name="email" id="email" placeholder="Email">
            <input class="inp-field" type="text" name="subject" id="subject" placeholder="Subject">
            <textarea placeholder="Message" class="inp-field" name="message" id="message" cols="10" rows="1"></textarea>
            <button class="submit-btn" type="submit"><i class="ri-send-plane-fill"></i> SEND MESSAGE</button>
        </form>


    </div>
</body>

</html>