<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to for organizations</title>
    <link rel="stylesheet" href="../stylesheets/howto.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="howto-content">
        <div id="organization-content">
            <div id="sub-heading">
                <h3>
                    For Organizations / Charitable Groups 
                    <i class="ri-group-fill"></i>
                </h3>
            </div>
    
            <div id="thumbnail-section">
                <div id="cards">
                    <div class="card">
                        <h4>
                            Register
                        </h4>
                        <div class="card-img">
                            <img src="../assets/images/register.jpg" alt="">
                        </div>
                        <div class="card-deet">
                            Sign up and create your account with a few easy steps.
                        </div>
                    </div>
                    <div class="card">
                        <h4>
                            view
                        </h4>
                        <div class="card-img">
                            <img src="../assets/images/view.jpeg" alt="">
                        </div>
                        <div class="card-deet">
                            View the restaurants/establishments with active schedules.
                        </div>
                    </div>
                    <div class="card">
                        <h4>
                            book
                        </h4>
                        <div class="card-img">
                            <img src="../assets/images/appointment.jpg" alt="">
                        </div>
                        <div class="card-deet">
                            Book the dates that you prefer from the available dates shown.
                        </div>
                    </div>
                    <div class="card">
                        <h4>
                            pick up
                        </h4>
                        <div class="card-img">
                            <img src="../assets/images/pickup.jpg" alt="">
                        </div>
                        <div class="card-deet">
                            Pick-up the donation from the restaurant/establishment's address.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       

    </div>
</body>
</html>