<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to for restaurants</title>
    <link rel="stylesheet" href="../stylesheets/howto.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="howto-content">
        <div id="howto-heading">
            <h2>how it works</h2>
            <div id="setting-icon">
                <i class="ri-settings-3-fill one-setting"></i>
                <i class="ri-settings-3-fill two-setting"></i>
                <i class="ri-settings-3-fill three-setting"></i>
            </div>
        </div>
        <div id="sub-heading">
            <h3>
                for restaurants/establishments
                <i class="ri-restaurant-2-fill"></i>
            </h3>
        </div>

        <div id="thumbnail-section">
            <div id="cards">
                <div class="card">
                    <h4>
                        Register
                    </h4>
                    <div class="card-img">
                        <img src="../assets/images/register.jpg" alt="">
                    </div>
                    <div class="card-deet">
                        Sign up and create your account with a few easy steps.
                    </div>
                </div>
                <div class="card">
                    <h4>
                        Schedule
                    </h4>
                    <div class="card-img">
                        <img src="../assets/images/schedule.jpg" alt="">
                    </div>
                    <div class="card-deet">
                        Set up your preffered schedule and time for donation.
                    </div>
                </div>
                <div class="card">
                    <h4>
                        wait
                    </h4>
                    <div class="card-img">
                        <img src="../assets/images/wait.jpg" alt="">
                    </div>
                    <div class="card-deet">
                        Wait for verified organizations/group to book your available appointments.
                    </div>
                </div>
                <div class="card">
                    <h4>
                        donate
                    </h4>
                    <div class="card-img">
                        <img src="../assets/images/donate.jpg" alt="">
                    </div>
                    <div class="card-deet">
                        Organizations/groups will come to your location to pick up your donation.
                    </div>
                </div>
            </div>
        </div>
       

    </div>
</body>
</html>