<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to for restaurants</title>
    <link rel="stylesheet" href="../stylesheets/howto.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="howto-content">
        <div id="howto-heading">
            <h2>how it works</h2>
            <div id="setting-icon">
                <i class="ri-settings-3-fill one-setting"></i>
                <i class="ri-settings-3-fill two-setting"></i>
                <i class="ri-settings-3-fill three-setting"></i>
            </div>
        </div>
        <div id="sub-heading">
            <h3>
                for restaurants/
            </h3>
        </div>
       

    </div>
</body>
</html>