<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../stylesheets/landingpage.css">
</head>
<body>
    <div id="main">
        <div id="landing-page">
            <div id="navbar">
                <div id="navleft">
                    <h2>HUNGRY | HELPERS</h2>
                </div>
                <div id="navright">
                    <h2>REGISTER</h2>
                    <h2>LOG IN</h2>
                    <h2>HOW TO</h2>
                    <h2>CONTACT</h2>

                </div>
            </div>
            <img src="../assets/images/73ec706c100a7ebeb7decf1c506d984c-removebg-preview.png" alt="">
        </div>
    </div>
</body>
</html>