<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../stylesheets/landingpage.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="register-modal">
            <h2>What are you registering as ?</h2>  
            <button id="restaurants">Restaurants / Establishments</button>
            <button id="ngo">Organizations/NGOs</button>
            <button onclick="registermodalclose()" id="registercancel" type="submit">Cancel</button>
      </div>
      <div id="login-modal">
       <a id="loginclose" href=""><i class="ri-close-line"></i></a>
            <h2>Username</h2>
            <input type="text" placeholder="Enter Username">
            <h2>Password</h2>
        <input type="text" placeholder="Enter Password">
        <button id="loginbutton" type="submit">Log in</button>
        <button onclick="loginmodalclose()" id="logincancel" type="submit">Cancel</button>
        <a href=""><h3>Forgot password ?</h3></a>
         
      </div>

        <div id="landing-page">
           
            <div id="navbar">
                <div id="navleft">
                    <h3>HUNGRY | HELPERS</h3>
                </div>
                
                <div id="navright">
                   

                 <a id="register" onclick="registermodalopen()" href="#"><h3> <i class="ri-book-2-fill"></i> REGISTER</h3></a>
                    
                    <a id="login" onclick="loginmodalopen()" href="#"><h3><i class="ri-user-3-fill"></i> LOG IN</h3></a>
                     <a href="#howto-content"><h3> <i class="ri-settings-3-fill"></i> HOW TO</h3></a>
                    <a href="#contact-form"><h3> <i class="ri-contacts-book-fill"></i> CONTACT</h3></a>
                </div>
                 
            </div>
            <div id="text">
                <h1>There's enough for everyone. SHARE.</h1>
                <h5>Stop wasting food and donate to those who are in need instead.</h5>
                <button>Learn more & start today</button>
            </div>
            <img src="../assets/images/73ec706c100a7ebeb7decf1c506d984c-removebg-preview.png" alt="">
        </div>
    </div>
    <script>
        function registermodalopen(){
            document.querySelector("#register-modal").style.display = "block"
            document.querySelector("#landing-page").style.opacity = .3  
        }
        function registermodalclose(){
            document.querySelector("#register-modal").style.display = "none"
            document.querySelector("#landing-page").style.opacity = 1   
        }
        function loginmodalopen(){
            document.querySelector("#login-modal").style.display = "block"
            document.querySelector("#landing-page").style.opacity = .3   
        }
        function loginmodalclose(){
            document.querySelector("#login-modal").style.display = "none"
            document.querySelector("#landing-page").style.opacity = 1   
        }
    </script>
</body>
</html>