<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../stylesheets/landingpage.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="register-modal">
            <h2>What are you registering as ?</h2>  
            <button id="restaurants">Restaurants / Establishments</button>
            <button id="ngo">Organizations/NGOs</button>
            <button onclick="modalclose()" id="register-modal-submit" type="submit">Cancel</button>

      </div>
        <div id="landing-page">
           
            <div id="navbar">
                <div id="navleft">
                    <h3>HUNGRY | HELPERS</h3>
                </div>
                
                <div id="navright">
                   

                 <a id="register" onclick="modalopen()" href="#register"><h3> <i class="ri-book-2-fill"></i> REGISTER</h3></a>
                    
                    
                    <h3><i class="ri-user-3-fill"></i> LOG IN</h3>
                    <h3> <i class="ri-settings-3-fill"></i> HOW TO</h3>
                    <h3> <i class="ri-contacts-book-fill"></i> CONTACT</h3>

                </div>
                 
            </div>
            <div id="text">
                <h1>There's enough for everyone. SHARE.</h1>
                <h5>Stop wasting food and donate to those who are in need instead.</h5>
                <button>Learn more & start today</button>
            </div>
            <img src="../assets/images/73ec706c100a7ebeb7decf1c506d984c-removebg-preview.png" alt="">
        </div>
    </div>
    <script>
        function modalopen(){
            document.querySelector("#register-modal").style.opacity = 1
            document.querySelector("#landing-page").style.opacity = .5

            
        }
        function modalclose(){
            document.querySelector("#register-modal").style.opacity = 0
            document.querySelector("#landing-page").style.opacity = 1

            
        }
        
    </script>
</body>
</html>