@font-face {
  font-family: raleway;
  src: url(../assets/font/static/Raleway-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#howto-content {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#howto-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
}

#howto-heading h2 {
  font-family: raleway;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.2vw;
  line-height: 20px;
}

#setting-icon {
  position: relative;
  display: flex;
  margin-top: -3%;
  padding: 1vh 0.1vw;
}

.one-setting {
  position: absolute;
  font-size: 6vh;
}

.two-setting {
  position: absolute;
  font-size: 4.5vh;
  margin-left: 2.6vw;
  top: -1vh;
}
.three-setting {
  position: absolute;
  font-size: 4vh;
  margin-left: 2.4vw;
  top: 3.5vh;
}

#sub-heading {
  position: absolute;
  margin-top: 25vh;
  left: 30px;
}

#sub-heading h3 {
  text-transform: capitalize;
  font-family: raleway;
  font-weight: 700;
}

#sub-heading i {
  font-size: 1.5em;
}

#organization-content{
  margin-top: -10vh;
}

#thumbnail-section {
  height: 50vh;
  width: 100%;
  margin-top: 30vh;
  padding: 5vh 4vw;
}

#cards {
  position: relative;
  display: flex;
  gap: 2vw;
  cursor: pointer;
}

.card {
  height: 58vh;
  width: 23vw;
  padding: 1rem;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 5px 8px 10px rgba(219,210,219,0.67);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.card h4 {
  white-space: nowrap;
  font-family: raleway;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}

.card .card-img {
  height: 38vh;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
  overflow: hidden;
  border: .5px solid #efeded;
}

.card .card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card-deet {
  text-align: center;
  margin-top: 1rem;
  font-family: raleway;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

/* hover part */

.card:hover{
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background-color: #9a9a9a27;
}

.card:hover .card-img img{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
