* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

#border {
  margin-left: 5vh;
  margin-right: 5vh;
  width: 95%;
  border: 1px solid rgba(82, 78, 78, 0.231);
}
